In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame(np.random.randint(10, 20, (4, 4)), index=list("ABCD"), columns=list("WXYZ"))

In [4]:
df

    W   X   Y   Z
A  10  16  17  12
B  16  15  11  11
C  16  16  15  13
D  10  17  13  19

In [11]:
df.sort_index(axis=0, ascending=False)

    W   X   Y   Z
D  10  17  13  19
C  16  16  15  13
B  16  15  11  11
A  10  16  17  12

In [20]:
df[1:3]

    W   X   Y   Z
B  16  15  11  11
C  16  16  15  13

In [17]:
df['X']

A    16
B    15
C    16
D    17
Name: X, dtype: int64

In [23]:
df.loc["A" : "C", "W" : "Y"]

    W   X   Y
A  10  16  17
B  16  15  11
C  16  16  15

In [25]:
df.loc[[True, True, False, True]]

    W   X   Y   Z
A  10  16  17  12
B  16  15  11  11
D  10  17  13  19