In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(10, 20, (4, 4)), index=list("ABCD"), columns=list("WXYZ"))

In [3]:
df

    W   X   Y   Z
A  16  14  11  12
B  15  14  11  11
C  11  11  18  14
D  17  10  17  15

In [4]:
df.sort_index(axis=0, ascending=False)

    W   X   Y   Z
D  17  10  17  15
C  11  11  18  14
B  15  14  11  11
A  16  14  11  12

In [5]:
df[1:3]

    W   X   Y   Z
B  15  14  11  11
C  11  11  18  14

In [6]:
df['X']

A    14
B    14
C    11
D    10
Name: X, dtype: int64

In [7]:
df.loc["A" : "C", "W" : "Y"]

    W   X   Y
A  16  14  11
B  15  14  11
C  11  11  18

In [8]:
df.loc[[True, True, False, True]]

    W   X   Y   Z
A  16  14  11  12
B  15  14  11  11
D  17  10  17  15